.main {
    min-height: 93vh;
    display: flex;
    align-items: center;
    background-image: url(../../business-incubator.jpg);
    background-position: center;
    background-size: cover;
}
.box{
    background-color: rgb(23, 190, 23);
}
.text{
    color: #fff;
}