.approve {
    background-color: rgb(11, 196, 11);
    width: 120px;
    margin-left: 20px;
}

.processing {
    background-color: rgb(6, 6, 155);
    width: 120px;
    margin-left: 20px;
}

.reject {
    background-color: rgb(219, 0, 0);
    width: 120px;
    margin-left: 20px;
}